@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
html {
    overflow: hidden!important;
    height: 100%!important;
}

body {
    font-family: 'rubik', sans-serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #aba9a9;
    font-weight: 500;
    height: 100%!important;
    overflow: auto!important;
}

.head {
    background-color: white !important;
}

.toight {
    margin-left: 65px;
    margin-right: 65px;
    background-color: white;
    margin-top: 50px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.toighter {
    margin-left: 30px;
    margin-right: 30px;
}

#clockbox {
    font-weight: bold;
}


/* -----------------------------------------------Navigation */

.dropdown-menu {
    overflow: visible;
}

.navbar {
    z-index: 999;
    overflow: visible;
    font-size: 20px;
}

.active,
.dropdown-menu:hover {
    color: black;
}

.dropdown-item.active,
.dropdown-item:active {
    color: black;
    text-decoration: none;
    background-color: white;
}

.nav-link {
    word-spacing: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.nav-shadow {
    box-shadow: 0 8px 6px -6px black;
}


/* -----------------------------------------------Text styling */

.headerobjectswrapper {
    font-size: 20px;
}

.text {
    font-size: 20px;
    line-height: 20px;
    width: 25%;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
    display: inline;
}

.glossary-text {
    font-size: 16px;
    line-height: 20px;
    width: 25%;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
    display: inline;
}

.img-fluid {
    border: 3px solid black;
    padding: 5px;
}

header {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

.head {
    text-align: center;
    position: relative;
}

.subhead {
    font-family: Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
}

.weatherforcastbox {
    position: relative;
    width: 12%;
    left: 10px;
    border: 3px double #2f2f2f;
    padding: 10px 15px 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0 50px 20px -360px;
}

content {
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    display: inline-block;
    margin: 30px 2% 0 2%;
    padding-left: 120px;
}

.collumn+.collumn {
    border-left: 1px solid #2f2f2f;
}

.collumn .headline {
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: bloc;
    margin: 0 auto;
}

.collumn .headline.hl1 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl2 {
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl2:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl3 {
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl4 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl4:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl4:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl5 {
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl6 {
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl6:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl6:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl7 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    display: block;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl8 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl9 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl10 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .citation {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 44px;
    /*font-style: italic;*/
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";
}

.collumn .citation:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

.collumn .citation:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

.collumn .figure {
    margin: unset;
}

.collumn .figcaption {
    font-style: italic;
    font-size: 12px;
}

.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 100%;
}


/*___Main Body____________________________________________________________________________________________________________________*/

.topic-head-b {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 42px;
    text-transform: unset;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    text-align: center;
    text-decoration: underline;
}

.topic-head-s {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 32px;
    text-transform: unset;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    text-align: center;
    text-decoration: unset;
}

.divider {
    border-top: 3px solid;
}

.caption {
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: unset;
    color: unset;
    font-style: normal;
    text-align: center;
    width: 505px;
    font-weight: bold;
}

.caption:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto;
    /* This will center the border. */
    width: 50%;
    /* Change this to whatever width you want. */
    padding-top: 2px;
    /* This creates some space between the element and the border. */
    border-bottom: 1px solid black;
    /* This creates the border. Replace black with whatever color you want. */
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.laws-head {
    text-align: center;
    margin-top: 60px;
}


/*________________________________________________________________________________________________________________________________*/


/*MEDIAQUERIES*/

@media only all and (max-width: 1300px) {
    .weatherforcastbox {
        display: none;
    }
}

@media only all and (max-width: 1200px) {
    .collumn {
        width: 31%;
    }
}

@media only all and (max-width: 900px) {
    .collumn {
        width: 47%;
    }
}

@media only all and (max-width: 600px) {
    .collumn {
        width: 100%;
    }
    .collumn+.collumn {
        border-left: none;
        border-bottom: 1px solid #2f2f2f;
    }
    header {
        max-width: 320px;
        font-size: 60px;
        line-height: 54px;
        overflow: hidden;
    }
}